[submodule "alarm/components/ota_update_task"]
	path = alarm/components/ota_update_task
	url = https://github.com/cvonk/ESP32_ota-update-task.git
[submodule "alarm/components/factory_reset_task"]
	path = alarm/components/factory_reset_task
	url = https://github.com/cvonk/ESP32_factory-reset-task.git
[submodule "alarm/components/wifi_connect"]
	path = alarm/components/wifi_connect
	url = https://github.com/cvonk/ESP32_wifi-connect.git
[submodule "factory/components/factory_ble_prov"]
	path = factory/components/factory_ble_prov
	url = git@github.com:cvonk/ESP32_factory-ble-prov.git
