[submodule "components/coredump_to_server"]
	path = components/coredump_to_server
	url = https://github.com/cvonk/ESP32_coredump-to-server
	branch = master
[submodule "components/ota_update_task"]
	path = components/ota_update_task
	url = https://github.com/cvonk/ESP32_ota-update-task.git
	branch = master
[submodule "components/ble_prov"]
	path = components/ble_prov
	url = https://github.com/cvonk/ESP32_ble-prov.git
	branch = master
